/*
 *	background: #EEEEEE
 *	light-blue: #29A8AB
 *	 dark-blue: #3D1E6D
 */

body {
	background-color: #EEEEEE;
	font-family: 'Work Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Crimson Text', serif;
}

.nav-link
{
	color: #29a8ab;
}
.nav-link:hover
{
	transition: 0.4s;
	color: #3d1e6d;
}

#navbar
{
	padding: 20px 0px;
}

pre
{
	margin-bottom:0;
}
